<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Acquista i nostri prodotti'"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/harrypotter.css">
  <script>
    function mostraDescrizione(button) {
  var descrizione = button.parentNode.querySelector('.descrizione');
  if (descrizione.style.display === 'none') {
    descrizione.style.display = 'block';
    button.textContent = 'Nascondi';
  } else {
    descrizione.style.display = 'none';
    button.textContent = 'Dettagli';
  }
}
  </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light1 fixed-top">
        <a href="#">
        <img class="logo" src="image/logo.png" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="catalogo-lego">
            <div class="catalogo-lego">
              <strong th:text="'Catalogo Lego'"></strong> 
              <div class="playset-lista">
                <ul>
                  <li><a th:href="@{harrypotter/filtro(id=${1})}" th:text="'Harry Potter'"></a></li>
                  <li><a href="#" th:text="'Star Wars'"></a></li>
                  <li><a href="#" th:text="'Lego City'"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div>
          <ul>
            <li class="nav">
              <a class="carr" href="#">
                <img src="image/cart.png" class="carrello">
                </a>
            </li>
           </ul>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: solid black;"><strong th:text="'Login'"></strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: solid black;"><strong th:text="'Registrazione'"></strong></a>
            </li>
          </ul>      
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-4" th:each="art : ${catalogo}">
            <div class="card"  >
              <img  th:src="@{${art.immagine}}" class="card-img-top" >
              <h2 th:text=${art.nome}></h2>
              <p class="descrizione" th:text=${art.descrizione}></p>
              <button class="btn btn-success acquista" th:text= "${'Acquista | ' + art.prezzo}"></button>
              <button class="btn btn-primary dettagli" onclick="mostraDescrizione(this)" th:text="dettagli"></button>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-lightf py-3" id="rosso">
        <div class="col-md-4 posizione">
          <p th:text="'&copy; 2023 Catalogo Lego'"></p>
        </div>
        <div class="col-md-4 text-center posizione">
            <a href="#" target="_blank" class="btn" th:text="'Area Riservata'"></a>
          </div>
        <div class="col-md-4 text-right posizione">
          <p th:text="'Contatti: info@catalogolego.it'"></p>
        </div>
    </footer>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>